<!DOCTYPE html>
<html>
    <head>
        <title>Diagrams</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'monitoring/css/diagrams.css' %}">
    </head>
    <body>
        <h1>Total Overtime by Employee</h1>
        <img src="data:image/png;base64,{{ emp_overtime_chart }}" alt="Employee Overtime Chart">
        <h1>Total Overtime by Department</h1>
        <img src="data:image/png;base64,{{ dep_overtime_chart }}" alt="Department Overtime Chart">
        <h1>Monthly Overtime Trends</h1>
        <img src="data:image/png;base64,{{ monthly_overtime_trends }}" alt="Monthly Overtime Trends">
        <h1>Overtime by Day of Week</h1>
        <img src="data:image/png;base64,{{ overtime_by_day_of_week }}" alt="Overtime by Day of Week">
        <h1>Individual Employee Analysis</h1>
        <img src="data:image/png;base64,{{ individual_emp_analysis }}" alt="Individual Employee Analysis">
        <h1>Overtime vs. Performance</h1>
        <img src="data:image/png;base64,{{ overtime_vs_performance }}" alt="Overtime vs Performance">
    </body>
</html>