<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'monitoring/css/dashboard.css' %}">
        <link rel="icon" type="image/x-icon" href="static/monitoring/images/techstarlogo.png">
    </head>
    <body>
        <div class="dashboard-container">
            <h1>Overtime Monitoring and Analysis</h1>
            <div class="button-group">
                <a href="{% url 'upload_csv' %}">Upload Overtime Data</a>
                <a href="{% url 'show_overtime_records' %}">Overtime Employees List</a>
                <a href="{% url 'overtime_analysis' %}">Analysis</a>
            </div>
        </div>
    </body>
</html>